<!DOCTYPE html>
<html>
<head>
  <title>All PDFs</title>
</head>
<body>
  <h1>Available PDFs</h1>
  <ul>
    <% files.forEach(file => { %>
      <li><a href="/pdfs/<%= file %>"><%= file %></a></li>
    <% }); %>
  </ul>
</body>
</html>
